header {
  height: 5em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

header a img {
  height: 5em;
}

header a:nth-of-type(1) {
  position: fixed;
  top: .5em;
  left: 2em;
  backdrop-filter: blur(10px);
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 10%; */
  height: 3em; 
  padding: .2em .5em;
}

header a:nth-of-type(1) img {
  height: 100%; 
}
header a:nth-of-type(2){
  position: absolute;
  right: 2em;
  top: 1em;
}
header a{
  place-self: center;
  }

  header a:nth-of-type(2){
   width: 5em;
   align-items: center;
   justify-content: center;
  }

  header a svg{
    margin-left:1em ;
    height: 2em;
    width: 2em;

  }

footer {
  padding: 1rem;
}
footer ul {
  display: flex;
  list-style: none;
  color: var(--text);
  justify-content: end;
  gap: 2em;
  margin: auto;
  font-size: 1em;
  padding: 1em 0;
}

footer a{
  color: var(--text);
  text-decoration: none;
}