<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="view-transition" content="same-origin" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/60177191?v=4&size=64" />  

  <link rel="expect" />
  <title>{{ title }}</title>

  {% endblock %}
  <link rel="stylesheet" href="/index.css" />
  <script src="/index.js" defer></script>
  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}
</head>

<body>
  <header>
    <section class="topbar">
      <div class="container">
        <p>
          <a href="/">Tymo's Movie App</a>
        </p>

        <button type="button" class="goToFavorites"><i class="fa-solid fa-heart"></i>&#160;Favorieten</button>

        <form action="/" method="GET" role="search" class="search">
        <input type="search" name="search" placeholder="Zoek een film..." value="{{ search }}" aria-label="Zoek een film..." />
        <button type="submit">Zoek <i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      </div>
    </section>
  </header>
  <main>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </main>
  <footer>
    <section class="footerBottom">
      <div class="container">
        <p>All rights reserved &copy; {{ "now" | date: "%Y" }} <a href="/">Tymo's Movie App</a></p>
      </div>
    </section>
    
  </footer>
</body>
</html>
