{% layout "server/layouts/base.liquid" %}

{% block content %}

<h1>{{ title }}</h1>

{% if items.length > 0 %}
  <ul class="grid">
    {% for item in items %}
      <li class="grid__item">
        <a href="/movie/{{ item.id }}" class="movie__link">
            {% render 'server/components/card/card.liquid', item: item %}
        </a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No favorites found.</p>
{% endif %}

{% endblock %}