body{
  font-family: 'Poppins',Arial, Helvetica, sans-serif;
  color: rgb(212, 212, 212);
  background: rgb(187,175,205);
  background: rgb(187,175,205);
background: -moz-linear-gradient(90deg, rgba(187,175,205,0.8253895308123249) 0%, rgba(71,56,76,1) 54%, rgba(35,31,36,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(187,175,205,0.8253895308123249) 0%, rgba(71,56,76,1) 54%, rgba(35,31,36,1) 100%);
background: linear-gradient(60deg, rgba(187,175,205,0.8253895308123249) 0%, rgba(71,56,76,1) 54%, rgba(35,31,36,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bbafcd",endColorstr="#231f24",GradientType=1);
}

  #photoContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17em, 1fr));
    column-gap: .5em;
    row-gap: 1em;
    padding: 1em;
    justify-items: center;
    align-items: start;
  }

#photoContainer li{
  
  width: 100%; 
 
}
#card__image {
  width:100%;
  height: 100%;
  border-radius: .5em;
  object-fit: cover;
}

#photoContainer li.landscape {
  grid-column: span 2 !important;
}

#photoContainer button{
  background-color: transparent;
  border: none;
}

dialog{
  border-radius: .5em;
  width:90vw;
  height: 80vh;
  background-color: rgb(251, 240, 255);
  border: none;
}
#moreDetailsOver{
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 2em 4em 4em 5em 2em max-content;
  gap: 1em;
}

#moreDetailsOver img{
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: -1;
  border-radius: 0;
 height: 80vh;
  

}

#moreDetailsOver button{
  grid-column: 2;
  grid-row: 1;
  background-color:rgb(226, 212, 249) ;
  font-size: 1.1em;
  justify-self: end;
  width: 2em;
  height: 2em;
  border-radius: .3em ;
}
#moreDetailsOver a{
  grid-column: 2;
  grid-row: 2;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: rgb(23, 22, 22);
  align-self: center;
}
#moreDetailsOver p:nth-of-type(1){
  grid-column: 2;
  grid-row: 3;
  font-size: 1.1em;
  font-weight: 100;
  color: rgb(23, 22, 22);
  align-self: start;
}
#moreDetailsOver p:nth-of-type(2){
  grid-column: 2;
  grid-row: 4;
  font-size: 1em;
  color: rgb(23, 22, 22);
  align-self: start;
}
#moreDetailsOver p:nth-of-type(3){
  grid-column: 2;
  grid-row: 5;
  font-size: 1em;
  color: rgb(23, 22, 22);
  align-self: start;
}
#moreDetailsOver div{
  grid-column: 2;
  grid-row: 6;
  align-self: end;
}
#moreDetailsOver svg{
  height: 3em;
}

.detailMain{
 margin: 0 5em ;
}

.detailMain #photoContainer{
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

.back{
  text-decoration: none;
  font-weight: bold;
  color: rgb(233, 233, 233);
  
}
.back::before{
  content:"â†";
}

section:nth-of-type(1){
  display: grid;
  grid-template-columns: max-content 3fr;
  grid-template-rows: 2em max-content 3em;
  gap: 1em 2em;
  margin-top: 3em;
  margin-bottom: 4em;
}


section:nth-of-type(1) img{
  grid-row-start: 1;
  grid-row-end:-1 ;
  grid-column: 1;
  border-radius: 50%;
  height: 10em;
}


section:nth-of-type(1) h1{
  grid-row: 1;
  grid-column: 2;
  align-self: end;
  margin: 0;

}

section:nth-of-type(1)> p{
  grid-row: 2;
  grid-column: 2;
  font-weight: 100;
}

section:nth-of-type(1) div{
  grid-row: 3;
  grid-column: 2;
  display: flex;
  gap: 1em;
  width: 50%;

}

section:nth-of-type(1) div p:first-of-type{
  font-size: .9em;
  font-weight: bold;
}

section:nth-of-type(1) div p:last-of-type{
  font-size: .9em;
}


section:nth-of-type(1) div a{
  text-decoration: wavy;
  color: rgb(233, 233, 233);
}
section:nth-of-type(1) div a:visited{
  color: rgb(233, 233, 233);
}

section:nth-of-type(1) div a:focus{
  background-color: rgb(219, 182, 254);
  padding: .3em;
  
}



