{% layout "server/layouts/base.liquid" %}

{% block content %}
  <h1 class="favorites"> your Favorites</h1>
  <ul id="likedPhotosContainer">
    {% if likes.size > 0 %}
      <script>console.log({{likes.size}});</script>
      {% for like in likes %}
        <li>
        {% render '../components/photo/photo.liquid', like: like %}
        </li>
      {% endfor %}
    {% else %}
      <li>Je hebt nog geen gelikete foto's!</li>
    {% endif %}
  </ul>
{% endblock %}