html {
  overflow-x: visible;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: rgb(177, 177, 177);
  overflow-x: visible;
}

.wrapper-body-street {
  background: linear-gradient(
    180deg,
    var(--color-gray-80) 0%,
    var(--color-gray-80) 50%,
    var(--color-gray-20) 100%
  );
  overflow-x: hidden;
  position: relative;
}

#huis {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: max-content;
  will-change: transform;
  animation: none;
}

.wrapper-container {
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  width: 100vw;
  position: relative;
}

.wrapper svg {
  height: 60vh;
  width: auto;
  transition: all 0.3s ease;
}

.text-wrapper {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 14px 28px;
  background-color: #212121;
  color: white;
  font-size: 1.1em;
  border: 2px solid #f1bd1e;
  border-radius: 12px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: "Merienda", cursive;
  margin-top: 1rem;
}

#huis:hover,
#huis:focus {
  .svg-wrapper svg {
    transform: translateY(-8px) scale(1.025);
  }

  .text-wrapper {
    background-color: #333333;
    color: #f1bd1e;
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
}

.header-street {
  padding: 2rem 0;
  z-index: 2;
  position: inherit;
}

@keyframes street-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .wrapper svg {
    height: 50vh;
  }
}

.street-cloud {
  position: absolute;
  height: auto;
  z-index: -1;
}

.street-cloud-1 {
  width: 5rem;
  left: 60%;
}

.street-cloud-2 {
  width: 7rem;
  left: 0%;
}

.street-cloud-3 {
  width: 2rem;
  left: 80%;
}

.street-cloud-4 {
  width: 2rem;
  left: 30%;
}

.street-cloud-5 {
  width: 5rem;
  top: 3rem;
}

.street-cloud-6 {
  width: 8rem;
  top: 2rem;
  left: 60%;
}

.street-cloud-7 {
  width: 10rem;
  top: 0rem;
  left: 0%;
}

.street-cloud-8 {
  width: 3rem;
  top: 0rem;
  left: 50%;
}

.street-cloud-9 {
  width: 5rem;
  left: 65%;
  top: 12rem;
}

.street-cloud-10 {
  width: 4rem;
  left: 0%;
  top: 12rem;
}

.header-cloud {
  position: absolute;
  z-index: 0;
}

.header-cloud-1 {
  left: 80%;
}

.header-cloud-2 {
  left: 50%;
  top: 1rem;
}

.header-cloud-3 {
  left: 30%;
  top: 2rem;
}

.header-cloud-4 {
  left: 0%;
}

.header-cloud-5 {
  left: 60%;
}

.detail-bird {
  position: absolute;
  z-index: 1;
  height: 4.5rem;
  width: auto;
  left: 75%;
}
