<div class="card">
  <h2 class="h2">{{ movie.original_title }}</h2>

  <form method="post" action="/favourite">
    <button type="submit" name="id" value="{{ movie.id }}" data-save-button="{{ movie.id }}">❤️</button>
  </form>
</div>
